
 /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
* {
  margin: 0;
  padding: 0;
}

#home body, #game body{
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
  height: 100vh;
}

#home #container {
  width: 95%;
  margin: 10px auto;
  position: relative;
}


#home .gamearea, #game .gamearea {
  background-position: 0% 0%;
  width: 650px;
  height: 450px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
}

#home body .gamearea {
    background: url(img/pirates.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#home button.start {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 800px;
  bottom: 250px;
  height: 50px;
  width: 250px;
  font-size: 150%;
  color: red;
  background-color: darkgrey;
  text-align: center;
  /*add glow*/
}

#home .start > a {
  text-decoration: none;
}

.line-1, .line-2, .line-3{ 
    width: 24em;
    margin: 10px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 200%;
    color: #1ec503;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.line-4{
    width: 24em;
    margin: 20px auto;
    margin-bottom: 10px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 350%;
    color: red;
    font-weight: bold;
    /*font-style: italic;*/
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.line-5{
    position: relative;
    top: 50%;  
    left: 33%;
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    color: cyan;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter1{
  animation: typewriter1 6s steps(37) 1s 1 normal both,
             blinkTextCursor 1s steps(37) 10 normal;
  border-right: 2px solid transparent;
}

.anim-typewriter2{
  animation: typewriter2 4s steps(29) 1s 1 normal both,
             blinkTextCursor 1s steps(29) 5 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 11s; 
}

.anim-typewriter3{
  animation: typewriter3 5s steps(38) 1s 1 normal both,
             blinkTextCursor 1s steps(38) 8 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 16.2s; 
}

.anim-typewriter4{
  animation: typewriter4 2s steps(13) 1s 1 normal both,
             blinkTextCursor 1s steps(13) 5 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 25.5s; 
}

.anim-typewriter5{
  animation: typewriter5 2s steps(22) 1s 1 normal both,
             blinkTextCursor 1s steps(22) 8 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 31s; 
}

@keyframes typewriter1{
  from{width: 0;}
  to{width: 23em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@keyframes typewriter2{
  from{width: 0;}
  to{width: 15em;}
}

@keyframes typewriter3{
  from{width: 0;}
  to{width: 19em;}
}

@keyframes typewriter4{
  from{width: 0;}
  to{width: 9em;}
}

@keyframes typewriter5{
  from{width: 0;}
  to{width: 18em;}
}

/*game.html*/

#game body {
  min-width: 1400px; 
  margin: 0 auto; 
}

#game .upperhalf{
  width: 70%;
  min-width: 1400px;
  margin: 0 auto;
}

#game .gamearea {
  width: 450px;
  height: 450px;
  background: url(img/gatekeeper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid yellow;
  margin: 0;
}

#game .weapon1, #game .weapon2 {
  height: 450px;
  width: 390px;
  display: inline-block;
  border: 1px solid green;
}

#game #numbers {
    border: 1px solid blue;
    width: 1200px;
    height: 150px;
    vertical-align: top;
    margin: 0 auto;
}

#numbers > div {
  width: 800px;
  margin: 0 auto;
}

#game #numbers button {
  height: 100px;
  width: 120px;
  display: inline-block;
  color: red;
  margin: 6px 3px ;

  opacity: 0.8;
  border: 2px solid #eee;
  
  /*Transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  
  /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#game #numbers button:hover {  
   opacity: 1;   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(198,0,0,0.9);
  -moz-box-shadow: 0px 0px 20px rgba(198,0,0,0.9);
  box-shadow: 0px 0px 20px rgba(198,0,0,0.9);
} 

/*modal*/
#gallery{
  height: 100vh;
}

.modal-body > img{
  max-height: 100%;
  height: 300px;
  margin: auto;
}

.modal-dialog{
  width: 90%;
}

.modal-title {
  color: #fff;
  font-style: bold;
  font-size: 2em;
  text-align: center;
}

