
 /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
#home *, #game *, #win * {
  margin: 0;
  padding: 0;
}

#home body, #game body, #win body, #about body{
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
  height: 100vh;
  margin-top: 3vh;
}

#home footer, #game footer, #win footer,  #about footer{
  width: 500px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

/*home page*/

#home #container {
  width: 95%;
  margin: 10px auto;
  position: relative;
}

#home .gamearea, #game .gamearea {
  background-position: 0% 0%;
  width: 650px;
  height: 450px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
}

#home div.typewriter p {
  margin: 0 auto;
  margin-top: 10px;
}

/*#home body {
  margin-top: 10px;
}*/

#home body .gamearea {
    background: url(img/pirates.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px; 
    margin-top: 15px;
    margin-bottom: 0px;
}

#home button.start {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 800px;
  top: 300px;
  bottom: 250px;
  height: 250px;
  width: 250px;
  font-size: 150%;
  color: red;
  background-color: darkgrey;
  text-align: center;
  border-radius: 50%;
}

#home button.start:hover {  
   opacity: 1;   
   background-color: rgb(5,190,30);
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
  -moz-box-shadow: 0px 0px 100px rgba(5,173,30,0.9);
  box-shadow: 0px 0px 50px rgba(5,173,30,0.9);
} 


#home .start > a {
  text-decoration: none;
}

.line-1, .line-2, .line-3{ 
    width: 24em;
    margin: 10px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 200%;
    color: #1ec503;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.line-4{
    width: 24em;
    margin: 20px auto;
    margin-bottom: 10px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 350%;
    color: red;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 1px 1px darkgrey;
}

.line-5{
    position: absolute;
    top: 180px;  
    left: 750px;
    width: 10em;
    /*margin: 0 auto;*/
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    color: cyan;
    /*text-align: right;*/
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter1{
  animation: typewriter1 4.3s steps(43) 1s 1 normal both,
             blinkTextCursor 0.8s steps(43) 9.6 normal;
  border-right: 2px solid transparent;
  -webkit-animation-delay: 2s; 
}

.anim-typewriter2{
  animation: typewriter2 2.7s steps(27) 1s 1 normal both,
             blinkTextCursor 0.8s steps(27) 5.7 normal;
  border-right: 2px solid transparent;
  -webkit-animation-delay: 11.2s; 
}

.anim-typewriter3{
  animation: typewriter3 5.4s steps(54) 1s 1 normal both,
             blinkTextCursor 0.8s steps(54) 9.7 normal;
  border-right: 2px solid transparent;
  -webkit-animation-delay: 16.3s; 
}

.anim-typewriter4{
  animation: typewriter4 2s steps(13) 1s 1 normal both,
             blinkTextCursor 1s steps(13) 5 normal;
  border-right: 2px solid transparent;
  -webkit-animation-delay: 25s; 
}

.anim-typewriter5{
  animation: typewriter5 2s steps(22) 1s 1 normal both,
             blinkTextCursor 1s steps(22) 20 normal;
  border-right: 2px solid transparent;
  -webkit-animation-delay: 30.5s; 
}

@keyframes typewriter1{
  from{width: 0;}
  to{width: 23.4em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@keyframes typewriter2{
  from{width: 0;}
  to{width: 14.8em;}
}

@keyframes typewriter3{
  from{width: 0;}
  to{width: 29.5em;}
}

@keyframes typewriter4{
  from{width: 0;}
  to{width: 8.6em;}
}

@keyframes typewriter5{
  from{width: 0;}
  to{width: 17.5em;}
}

/*game.html*/

#game body {
  min-width: 1400px; 
  margin: 0 auto; 
}

#game .upperhalf{
  width: 80%;
  min-width: 1350px;
  margin: 10px auto;
  box-sizing: border-box;
}

#game .gamearea {
  background: url(img/gatekeeper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#game .weapon1, #game .weapon2, #game .gamearea {
  height: 450px;
  width: 450px;
  display: inline-block;
  /*border: 1px solid green;*/
  box-sizing: border-box;
  margin: 0;
  position: relative;
  vertical-align: top;
}

#game .upperhalf img {
  width: 150px;
  margin: 0 30px;
}

#game #numbers {
    /*border: 1px solid blue;*/
    width: 1350px;
    height: 150px;
    vertical-align: top;
    margin: 0 auto;
    box-sizing: border-box;
}

#numbers > div {
  width: 680px;
  margin: 30px 0;
  display: inline-block;
}

#numbers > .rowleft {
  width: 615px;
  margin-left: 35px;
}

#numbers .rowleft button, #numbers .rowright button {
  height: 95px;
  width: 120px;
  display: inline-block;
  color: red;
  margin: 0;
  border-width: 0;
  font-size: 0;
  background: url(img/roman.jpg);
  background-size: 700px;

  opacity: 0.8;
  /*Transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;  
  /*Reflection*/
  /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));*/
}

/*#game #numbers button:nth-of-type(1){
  margin-left: 10px;
}
*/
#game #numbers .one {
  background-position-x: 660px;
  background-position-y: 18.4%;
}

#game #numbers .two {
  background-position-x: 560px;
  background-position-y: 18.4%;
}

#game #numbers .three {
  background-position-x: 445px;
  background-position-y: 18.4%;
}

#game #numbers .four {
  background-position-x: 300px;
  background-position-y: 18.4%;
}


#game #numbers .five {
  background-position-x: 155px;
  background-position-y: 18.4%;
}

#game #numbers .six {
  background-position-x: 658px;
  background-position-y: 76%;
  width: 135px;
}

#game #numbers .seven {
  background-position-x: 500px;
  background-position-y: 76%;
  width: 140px;
}

#game #numbers .eight {
  background-position-x: 330px;
  background-position-y: 76%;
  width: 145px;
}

#game #numbers .nine {
  background-position-x: 158px;
  background-position-y: 76%;
  width: 112px;
}

#game #numbers .ten {
  background-position-x: 123px;
  background-position-y: 76%;
  width: 100px;
}

#game #numbers div.wrapper {
  display: inline;
}

#game #numbers .wrapper:hover button, #game #numbers .wrapper:hover .frame {  
   opacity: 1;   
   /*Reflection*/
  /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));*/
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 120px rgba(198,0,0,0.9);
  -moz-box-shadow: 0px 0px 120px rgba(198,0,0,0.9);
  box-shadow: 0px 0px 120px rgba(198,0,0,0.9);
} 

#game #numbers .frame {
  width: 120px;
  height: 150px;
  position: absolute;
}

#game #numbers .frame.f1 {
  left: 70px;
  top: 15px;
}

#game #numbers .frame.f2 {
  left: 290px;
  top: 15px;
}

#game #numbers .frame.f3 {
  left: 70px;
  top: 165px;
}

#game #numbers .frame.f4 {
  left: 290px;
  top: 165px;
}

#game #numbers .frame.f5 {
  left: 70px;
  top: 315px;
}

#game #numbers .frame.f6 {
  left: 975px;
  top: 15px;
}

#game #numbers .frame.f7 {
  left: 1185px;
  top: 15px;
}

#game #numbers .frame.f8 {
  left: 975px;
  top: 165px;
}

#game #numbers .frame.f9 {
  left: 1185px;
  top: 165px;
}

#game #numbers .frame.f10 {
 left: 975px;
  top: 315px;
}

/*modal*/
#gallery{
  height: 100vh;
}

#game .modal-body > img{
  max-height: 100%;
  height: 380px;
  margin: auto;
  width: 100%;
  padding: 0 20%;
  display: inline-flex;
}

.modal-dialog{
  width: 100%;
}

/*#game .modal-header {
  padding: 20px auto;
}*/

#game .modal-header .modal-title {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  height: 100px;
  box-sizing: border-box;
  padding-top: 5px;
}

/*win.html*/
#win body {
  min-width: 1000px;
  width: 90%;
  margin: 10px auto;
}

#win body>p {
  width: 80%
  margin: 10px auto;
  text-align: center;
  font-size: 350%
}

#win .reward {
  background-image: url(img/chest.png);
  width: 900px;
  height: 550px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#win .replay, #win .about {
  height: 60px;
  width: 200px;
  font-size: 200%;
  background-color: darkgrey;
  position: absolute;
  left: 980px;
  
}

#win .replay {
  top: 400px;
}

#win .about {
  top: 500px;
}

#win button {
  border-radius: 10px;
}

#win button a:hover{
  text-decoration: none;
}

/*about page*/
#about body section {
  width: 80%;
  min-width: 800px;
  margin: 20px auto;
  font-size: 1.4em;
}

#about ul {
  margin-bottom: 20px;
}

#about li {
  margin-bottom: 5px;
}

#about button {
  display: inline-block;
  height: 40px;
  width: 250px;
  font-size: 100%;
  color: #fff;
  position: relative;
  left: 80%;
  border-radius: 10px;
}

#about button:hover {
  background-color: #6e8ff4;
}

#about a {
  text-decoration: none;
}
