
 /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
* {
  margin: 0;
  padding: 0;
}

/*#home {
  min-height: 100%;
  overflow: hidden;
}*/

#home body, #game body{
  /*height: calc(100vh - 8em);*/
  /*padding: 2em;*/
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
  height: 100vh;
  /*background: url(img/pirates.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;*/
}

#home #container {
  width: 95%;
  margin: 10px auto;
  position: relative;
}


#home .gamearea, #game .gamearea {
  background-position: 0% 0%;
  width: 650px;
  height: 450px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
}

#home body .gamearea {
    background: url(img/pirates.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#home button.start {
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 800px;
  bottom: 250px;
  height: 50px;
  width: 250px;
  font-size: 150%;
  color: red;
  background-color: darkgrey;
  text-align: center;
  /*add glow*/
}

#home .start > a {
  text-decoration: none;
}

.line-1, .line-2, .line-3{
/*    position: relative;
    top: 50%;*/  
    width: 24em;
    margin: 10px auto;
    /*margin-bottom: 20px;*/
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 200%;
    color: #1ec503;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.line-4{
    /*position: relative;
    top: 50%;*/  
    width: 24em;
    margin: 20px auto;
    margin-bottom: 10px;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 350%;
    color: red;
    font-weight: bold;
    /*font-style: italic;*/
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.line-5{
    position: relative;
    top: 50%;  
    left: 33%;
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    color: cyan;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter1{
  animation: typewriter1 6s steps(37) 1s 1 normal both,
             blinkTextCursor 1s steps(37) 10 normal;
  border-right: 2px solid transparent;
}

.anim-typewriter2{
  animation: typewriter2 4s steps(29) 1s 1 normal both,
             blinkTextCursor 1s steps(29) 5 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 11s; 
}

.anim-typewriter3{
  animation: typewriter3 5s steps(38) 1s 1 normal both,
             blinkTextCursor 1s steps(38) 8 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 16.2s; 
}

.anim-typewriter4{
  animation: typewriter4 2s steps(13) 1s 1 normal both,
             blinkTextCursor 1s steps(13) 5 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 25.5s; 
}

.anim-typewriter5{
  animation: typewriter5 2s steps(22) 1s 1 normal both,
             blinkTextCursor 1s steps(22) 8 normal;
             border-right: 2px solid transparent;
  -webkit-animation-delay: 31s; 
}

@keyframes typewriter1{
  from{width: 0;}
  to{width: 23em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@keyframes typewriter2{
  from{width: 0;}
  to{width: 15em;}
}

@keyframes typewriter3{
  from{width: 0;}
  to{width: 19em;}
}

@keyframes typewriter4{
  from{width: 0;}
  to{width: 9em;}
}

@keyframes typewriter5{
  from{width: 0;}
  to{width: 18em;}
}

/*game.html*/

/*#game body {
  background: url(img/gatekeeper.jpg);
  background-size: cover;
  background-repeat: no-repeat;  
}*/

/*#game .upperhalf {
  margin: 0 auto;
  width: 99%;
}*/

#game .gamearea {
  width: 450px;
  height: 450px;
  background: url(img/gatekeeper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border: 1px solid yellow;
  margin: 0;
}

#game .weapon1, #game .weapon2 {
  height: 450px;
  width: 390px;
  display: inline-block;
  border: 1px solid green;
}

#game #numbers {
    border: 1px solid blue;
    /*position: absolute;*/
    width: 1200px;
    height: 150px;
    /*display: inline-block;*/
    vertical-align: top;
    margin: 0 auto;
  }

#game #numbers button {
  height: 30px;
  width: 100px;
  display: inline-block;
}